<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content">
    <LinearLayout
        android:id="@+id/LinearLayoutBase"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:weightSum="10"
        android:orientation="vertical"
        android:background="#ffffff">
        <RelativeLayout
            android:id="@+id/LinearLayoutHeader"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="4.4"
            android:orientation="horizontal">
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:gravity="center"
                android:layout_weight="1"
                android:layout_alignParentLeft="true"
                android:layout_gravity="center">
                <ImageButton
                    android:id="@+id/backButton_header"
                    android:layout_width="40dp"
                    android:layout_height="40dp"
                    android:layout_marginLeft="10dp"
                    android:visibility="invisible"
                    android:gravity="center"
                    android:background="@drawable/redarrow" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:gravity="center_horizontal"
                android:layout_weight="1"
                android:layout_gravity="center"
                android:layout_centerInParent="true">
                <ImageButton
                    android:background="@drawable/schooliciouslogo"
                    android:layout_height="50dp"
                    android:layout_width="200dp"
                    android:layout_gravity="center"
                    android:gravity="center"
                    android:id="@+id/imageButton_header" />
            </LinearLayout>
        </RelativeLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:orientation="vertical"
            android:background="#ffffff">
            <ImageView
                android:layout_width="match_parent"
                android:layout_height="5dp"
                android:src="@drawable/toolbar_dropshadow" />
            <WebView
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:id="@+id/webView_Main" />
        </LinearLayout>
        <RelativeLayout
            android:id="@+id/relativeTabbarLayoutBase"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_weight="4.6"
            android:layout_alignParentBottom="true">
            <RelativeLayout
                android:id="@+id/relativeTabbarLayout"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_alignParentBottom="true"
                android:background="#FF7423">
                <LinearLayout
                    android:id="@+id/LinearLayout02"
                    android:layout_height="match_parent"
                    android:layout_width="300dp"
                    android:layout_alignParentBottom="true"
                    android:layout_centerHorizontal="true">
                    <ImageButton
                        android:background="@drawable/about3"
                        android:layout_height="match_parent"
                        android:layout_width="70dp"
                        android:layout_weight="1"
                        android:id="@+id/imageButton_about" />
                    <ImageButton
                        android:background="@drawable/terms3"
                        android:layout_height="match_parent"
                        android:layout_width="70dp"
                        android:layout_weight="1"
                        android:id="@+id/imageButton_terms" />
                    <ImageButton
                        android:background="@drawable/contact3"
                        android:layout_height="match_parent"
                        android:layout_width="70dp"
                        android:layout_weight="1"
                        android:id="@+id/imageButton_contact" />
                </LinearLayout>
            </RelativeLayout>
            <RelativeLayout
                android:id="@+id/relativeRedTabbar"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_alignParentBottom="true"
                android:background="#ee3045">
                <LinearLayout
                    android:id="@+id/OtherLinearLayout02"
                    android:layout_height="wrap_content"
                    android:layout_width="match_parent"
                    android:layout_alignParentBottom="true"
                    android:gravity="center_horizontal"
                    android:layout_centerHorizontal="true">
                    <ImageButton
                        android:background="@drawable/home"
                        android:layout_width="40dp"
                        android:layout_marginBottom="4dp"
                        android:layout_marginTop="4dp"
                        android:layout_height="wrap_content"
                        android:id="@+id/imageButton_home" />
                    <ImageButton
                        android:background="@drawable/restaurant"
                        android:layout_width="50dp"
                        android:layout_height="wrap_content"
                        android:id="@+id/imageButton_restaurant" />
                    <ImageButton
                        android:background="@drawable/profile"
                        android:layout_width="50dp"
                        android:layout_height="match_parent"
                        android:id="@+id/imageButton_profile" />
                </LinearLayout>
            </RelativeLayout>
        </RelativeLayout>
    </LinearLayout>
</RelativeLayout>