<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content">
    <fragment
        android:id="@+id/map"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        class="com.google.android.gms.maps.MapFragment" />
    <LinearLayout
        android:id="@+id/LinearLayout02"
        android:layout_height="wrap_content"
        android:layout_width="fill_parent"
        android:layout_alignParentBottom="true"
        android:layout_centerHorizontal="true">
        <ImageButton
            android:background="@drawable/buttons_01"
            android:layout_width="200dp"
            android:layout_height="65dp"
            android:layout_weight="1"
            android:id="@+id/imageButton_home" />
        <ImageButton
            android:background="@drawable/buttons_02"
            android:layout_width="wrap_content"
            android:layout_height="65dp"
            android:layout_weight="1"
            android:id="@+id/imageButton_rlist" />
    <!--<ImageButton
            android:background="@drawable/buttons_03"
            android:layout_width="wrap_content"
            android:layout_height="65dp"
            android:layout_weight="1"
            android:id="@+id/imageButton_scanner" />-->
        <ImageButton
            android:background="@drawable/buttons_04"
            android:layout_width="200dp"
            android:layout_height="65dp"
            android:layout_weight="1"
            android:id="@+id/imageButton_maps" />
    </LinearLayout>
</RelativeLayout>